# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Supabase
supabase/.branches
supabase/.temp

# Android
*.apk
*.aab
.gradle
build/

env.local
